<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/style.css">
    
    <script src="/client.js" defer></script>
    <script>
      setTimeout(function(){ window.location.href = "/"; }, 3000); 
    </script>
  </head>
  <body>
    <header>
      <h1>
        You are attempting to access a page that you are not authorized to access.  Returning you to the login screen....
      </h1>
    </header>

  </body>
</html>